body {
	margin: 0;
	font-family: arial, sans-serif;
	background-color: #f3ffff;
}

.animation {
	background-color: pink;
	animation-name: animation;
	animation-duration: 3s;
	animation-iteration-count: 1;
	width: 100%;
	height: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
}

@keyframes animation {
	0% {
		height: 100vh;
	}
	100% {
		height: 100vh;
	}
}


.square {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	animation-name: square;
	animation-duration: 1s;
	animation-iteration-count: 3;
	animation-timing-function: linear;
}

@keyframes square {
	0% {
		transform: rotate(0);
		background-color: red;
	}
	100% {
		transform: rotate(360deg);
		background-color: red;
	}
}


.circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  margin: auto;
  animation-name: circle;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: reverse;
  z-index: 10;

}

@keyframes circle {
	0%{
		top: 25%;
		left: 50%;
		background-color: yellow;
		transform: scale(0.5, 0.5);
	
	}
	25%{
		top: 50%;
		left: 80%;
		background-color: violet;
		transform: scale(1, 1);
	
	}
	50%{
		top: 75%;
		left: 50%;
		background-color: blue;
		transform: scale(2, 2);

	}
	75%{
		top: 50%;
		left: 20%;
		background-color: red;
		transform: scale(1, 1);

	}
	100%{
		top: 25%;
		left: 50%;
		background-color: green;
		transform: scale(0.5, 0.5);

	}
}

.circle2 {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 40%;
	border-radius: 50px;
	animation-name: circle2;
	animation-duration: 1.5s;
	animation-iteration-count: 2;
	animation-timing-function: linear;
}

@keyframes circle2 {
	0% {
		transform: rotate(0);
		border-top: 2px solid red;
		background-color: lightgreen;
	}
	100% {
		transform: rotate(360deg);
		border-top: 2px solid red;
		background-color: lightgreen;
	}
}


.circle3 {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 60%;
	border-radius: 50px;
	animation-name: circle3;
	animation-duration: 1.5s;
	animation-iteration-count: 2;
	animation-timing-function: linear;
	animation-direction: reverse;
}

@keyframes circle3 {
0% {
		transform: rotate(0);
		border-top: 2px solid red;
		background-color: lightgreen;
	}
	100% {
		transform: rotate(360deg);
		border-top: 2px solid red;
		background-color: lightgreen;
	}
}

.heading {
	position: relative;
	margin: 0 auto;
}
.heading h2 {
	font-size: 34px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0;
}

.heading h4 {
	font-size: 14px;
	color: grey;
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
}

.heading span {
	padding-bottom: 12px;
	border-bottom: 1.5px solid green;
}

#buttons {
	margin: 60px auto 0 auto;
	text-align: center;
}

#buttons button {
	background-color: #f3ffff;
	border: none;
	margin: 0 10px;
	color: grey;
	padding: 0 15px;
	height: 35px;
}

#buttons .allButton:hover {
		background-color: red;
		color: yellow;
		border-radius: 10px;
}


#buttons .designButton:hover {	
		background-color: pink;
		color: black;
		border-radius: 10px;
		text-decoration: underline;
}

#buttons .codeButton:hover {
		background-color: #ee82ee;
		color: #6a5acd;
		border-radius: 20px;
}

#buttons .photographyButton:hover {
		background-color: #ffa500;
		color: black;
		border-radius: 20px;
}

#buttons .appsButton:hover {
		background-color: blue;
		color: white;
		border-radius: 35px;
}

#portfolio {
	width: 1220px;
	padding: 50px 100px;
	margin: auto;
}

#portfolio .portfolioItem {
	margin: 15px 15px;
	width: 270px;
	height: 200px;
	position: relative;
	overflow: hidden;
	display: inline-block;
}

#portfolio .portfolioItem img {
	width: 100%;
	height: 100%;
	transition: transform 1s
}

#portfolio .portfolioItem .portfolioItem-overlay {
	width: 100%;
	height: 100%;
	background-color: #30d5c8;
	opacity: 0.5;
	text-align: center;
	position: absolute;
	top:0;
	left: 0;
	transition: transform 1s;
	transition-timing-function: linear;
	z-index: 10;
}

#portfolio .portfolioItem .portfolioItem-overlay h5{
	font-size: 16px;
	font-weight: lighter;
	color: white;
	margin: 0;
	text-align: center;
	margin-top: 85px;
}

#portfolio .portfolioItem .portfolioItem-overlay p {
	font-size: 12px;
	margin: 0;
	text-align: center;
	margin-top: 10px;
}


#portfolio .portfolioItem:first-child .portfolioItem-overlay {
	transform: translateY(-200px);
}

#portfolio .portfolioItem:first-child:hover .portfolioItem-overlay {
	transform: translateY(0);
}

#portfolio .portfolioItem:nth-child(2) .portfolioItem-overlay {
	transform: translateY(200px);
}

#portfolio .portfolioItem:nth-child(2):hover .portfolioItem-overlay {
	transform: translateY(0);
}

#portfolio .portfolioItem:nth-child(3) .portfolioItem-overlay {
	transform: translateX(270px);
}

#portfolio .portfolioItem:nth-child(3):hover .portfolioItem-overlay {
	transform: translateX(0);
}

#portfolio .portfolioItem:nth-child(4) .portfolioItem-overlay {
	transform: translateX(-270px);
}

#portfolio .portfolioItem:nth-child(4):hover .portfolioItem-overlay {
	transform: translateX(0);
}

#portfolio .portfolioItem:nth-child(5) .portfolioItem-overlay {
	opacity: 0;
	transition: opacity 2s;
}

#portfolio .portfolioItem:nth-child(5):hover .portfolioItem-overlay {
	opacity: 0.5; 
}

#portfolio .portfolioItem:nth-child(6) .portfolioItem-overlay {
	transform: translate(-270px, -200px);
	
}

#portfolio .portfolioItem:nth-child(6):hover .portfolioItem-overlay {
	transform: translate(0);
}


#portfolio .portfolioItem:nth-child(7)::after .portfolioItem-overlay,
#portfolio .portfolioItem:nth-child(7)::before .portfolioItem-overlay {
	content: '';
	width: 0;
	height: 200px;
	position: absolute;
	bottom: 0;
	z-index: -1;
	transition: width 1s;
}

#portfolio .portfolioItem:nth-child(7)::after .portfolioItem-overlay {
	right: 0;
}

#portfolio .portfolioItem:nth-child(7)::before .portfolioItem-overlay {
	left: 0;
}

#portfolio .portfolioItem:nth-child(7):hover::before .portfolioItem-overlay,
#portfolio .portfolioItem:nth-child(7):hover::after .portfolioItem-overlay {
	width: 135px;
}


#portfolio .portfolioItem:nth-child(7) .portfolioItem-overlay h5,
#portfolio .portfolioItem:nth-child(7) .portfolioItem-overlay p{
	opacity: 0;
	transition-delay: 1s;
}

#portfolio .portfolioItem:nth-child(7):hover .portfolioItem-overlay h5,
#portfolio .portfolioItem:nth-child(7):hover .portfolioItem-overlay p{
	opacity: 1;
}



#portfolio .portfolioItem:nth-child(8) .portfolioItem-overlay {
	transform: rotateY(90deg);
}

#portfolio .portfolioItem:nth-child(8):hover .portfolioItem-overlay {
	transform: rotateY(0);
}

#portfolio .portfolioItem:nth-child(8) .portfolioItem-overlay h5,
#portfolio .portfolioItem:nth-child(8) .portfolioItem-overlay p{
	visibility: hidden;
	transition-delay: 1s;
}

#portfolio .portfolioItem:nth-child(8):hover .portfolioItem-overlay h5,
#portfolio .portfolioItem:nth-child(8):hover .portfolioItem-overlay p{
	visibility: visible;
}





